---
import ArrowUpRight from "../../assets/icons/arrow-up-right.svg";

interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a href={href} class="button">
    <svg
        viewBox="0 0 200 200"
        xmlns="http://www.w3.org/2000/svg"
        class="filter"
    >
        <filter id="noise">
            <feTurbulence
                type="fractalNoise"
                baseFrequency="0.85"
                numOctaves="3"
                stitchTiles="stitch"
            >
            </feTurbulence>
        </filter>
    </svg>

    <div class="button__inner">
        <ArrowUpRight width={12} height={12} fill="currentColor" />
    </div>
</a>

<style>
    span {
        display: none;
    }

    .button {
        position: relative;

        padding: 1px;
        border-radius: 50%;
        background: linear-gradient(
            180deg,
            oklch(0.74 0 0) 0%,
            oklch(0.45 0 0) 100%
        );
        box-shadow: 0 4px 12px 0 oklch(0 0 0 / 0.5);

        transition:
            scale var(--spring-duration) var(--spring-easing),
            box-shadow var(--spring-duration) var(--spring-easing);

        &:hover {
            scale: 0.98;
            box-shadow: 0 2px 8px 0 oklch(0 0 0 / 0.5);
        }

        &:active {
            scale: 0.95;
            box-shadow: 0 1px 4px 0 oklch(0 0 0 / 0.5);
        }
    }

    .button__inner {
        position: relative;
        overflow: clip;

        padding: 12px;
        border-radius: 50%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 5px;

        color: var(--fg);
        background: linear-gradient(
            180deg,
            oklch(0 0 0) 0%,
            oklch(0.4091 0 0) 100%
        );

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            filter: url(#noise) saturate(0) contrast(170%);
            mix-blend-mode: hard-light;
            opacity: 0.3;
        }
    }

    .filter {
        width: 1px;
        height: 1px;
        position: absolute;
        pointer-events: none;
        inset: 0;
    }

    @media (pointer: fine) {
        .button__inner {
            padding: 7px;
        }
    }
</style>
