---
import About from "./dashboard/About.astro";
import Bobr from "./dashboard/Bobr.astro";
import Photography from "./dashboard/Photography.astro";
import Socials from "./dashboard/Socials.astro";
import Status from "./dashboard/Status.astro";
import Work from "./dashboard/Work.astro";
---

<section>
    <About />
    <Work />
    <Photography />
    <Bobr />
    <Socials />
    <Status status="available" />
</section>

<script>
    document.addEventListener("keyup", (e) => {
        const isMobile = window.matchMedia(
            "(hover: none) and (pointer: coarse)",
        );

        if (isMobile.matches) return;

        switch (e.code) {
            case "KeyA": {
                window.location.href = "/about";
                break;
            }
            case "KeyW": {
                window.location.href = "/work";
                break;
            }
            case "KeyP": {
                window.location.href = "/photography";
                break;
            }
            case "KeyB": {
                window.location.href = "https://bobr.digital";
                break;
            }
        }
    });
</script>

<style>
    section {
        width: 100%;
        max-width: 1200px;

        display: grid;
        gap: 12px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "about about"
            "work photo"
            "bobr contact"
            "status status";
    }

    @media screen and (min-width: 640px) {
        section {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "about work photo"
                "about work photo"
                "about status bobr"
                "about contact bobr";
        }
    }
</style>
