---
import { Key } from "../../components/icons";
import BobrLogo from "../icons/Bobr.astro";
---

<a
    class="box"
    href="https://bobr.digital"
    target="_blank"
    referrerpolicy="no-referrer"
>
    <div class="bobr">
        <BobrLogo />
    </div>
    <div class="label">
        <Key key="B" code="KeyB" />
        <h2>Büro Bobr</h2>
    </div>
</a>

<style>
    h2 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: var(--fg);
        text-transform: uppercase;
    }

    .box {
        grid-area: bobr;

        padding: 24px;
        overflow: hidden;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 12px;

        text-decoration: none;

        background-color: var(--container);
        border: 1px solid var(--container-stroke);
        border-radius: 42px;
        box-shadow: 0px 2px 4px oklch(0 0 0 / 0.25) inset;
    }

    .label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 10px;
    }

    .bobr {
        flex: 1;
        max-width: 300px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
