---
import house from "../../assets/photography/chania.png";
import beach from "../../assets/photography/keras.png";
import { Key, Photo } from "../../components/icons";
---

<a class="box" href="/photography">
    <div class="photos">
        <div class="photo__bottom">
            <Photo src={beach} alt="A beach at sunset" />
        </div>
        <div class="photo__top">
            <Photo src={house} alt="Colourful houses in Chania" />
        </div>
    </div>
    <div class="label">
        <Key key="P" code="KeyP" />
        <span>Photography</span>
    </div>
</a>

<style>
    .box {
        grid-area: photo;

        padding: 24px;
        overflow: hidden;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 12px;

        color: var(--fg);
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;

        background-color: var(--container);
        border: 1px solid var(--container-stroke);
        border-radius: 42px;
        box-shadow: 0px 2px 4px oklch(0 0 0 / 0.25) inset;
    }

    .label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 10px;
    }

    .photos {
        position: relative;
        isolation: isolate;

        width: 100%;
        max-width: 300px;
        aspect-ratio: 1;

        & > .photo__bottom {
            position: absolute;
            inset: auto auto 12% 5%;
            width: 60%;
            rotate: -2deg;
        }

        & > .photo__top {
            position: absolute;
            inset: 10% 5% auto auto;
            width: 60%;
            rotate: 12deg;
        }
    }
</style>
