---
import { Book, Folder, Key } from "../../components/icons";
---

<div class="box">
    <div class="folders">
        <div class="folder__bottom">
            <Folder />
        </div>
        <div class="book__bottom">
            <Book colour="red" />
        </div>
        <div class="book__top">
            <Book colour="blue" />
        </div>
        <div class="folder__top">
            <Folder />
        </div>
    </div>
    <a href="/work">
        <Key key="W" code="KeyW" />
        <span>Work</span>
    </a>
</div>

<style>
    a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 10px;

        color: var(--fg);
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .box {
        grid-area: work;

        padding: 24px;
        overflow: hidden;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 12px;

        background-color: var(--container);
        border: 1px solid var(--container-stroke);
        border-radius: 42px;
        box-shadow: 0px 2px 4px oklch(0 0 0 / 0.25) inset;
    }

    .folders {
        position: relative;
        isolation: isolate;

        width: 100%;
        max-width: 400px;
        aspect-ratio: 1;
        padding: 24px;

        & .folder__bottom {
            position: absolute;
            inset: auto auto 10% 0;
            width: 90%;
            rotate: 6deg;
        }

        & .book__bottom {
            position: absolute;
            inset: auto auto 12% 10%;
            width: 60%;
            rotate: -0.5deg;
        }

        & .book__top {
            position: absolute;
            inset: 10% 20% auto auto;
            width: 60%;
            rotate: 12deg;
        }

        & .folder__top {
            position: absolute;
            inset: auto 0 10% auto;
            width: 90%;
            rotate: -6deg;
            filter: url(#filter);
        }
    }
</style>
