---
import { Book, Folder, Key } from "../../components/icons";
---

<a class="box" href="/work">
    <div class="folders">
        <div class="folder__bottom">
            <Folder />
        </div>
        <div class="book__bottom">
            <Book colour="red" />
        </div>
        <div class="book__top">
            <Book colour="blue" />
        </div>
        <div class="folder__top">
            <Folder />
        </div>
    </div>
    <div class="label">
        <Key key="W" code="KeyW" />
        <span>Work</span>
    </div>
</a>

<style>
    .box {
        grid-area: work;

        padding: 24px;
        overflow: hidden;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 12px;

        color: var(--fg);
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;

        background-color: var(--container);
        border: 1px solid var(--container-stroke);
        border-radius: 42px;
        box-shadow: 0px 2px 4px oklch(0 0 0 / 0.25) inset;
    }

    .label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 10px;
    }

    .folders {
        position: relative;
        isolation: isolate;

        width: 100%;
        max-width: 300px;
        aspect-ratio: 1;
        padding: 24px;

        & .folder__bottom {
            position: absolute;
            inset: auto auto 10% 5%;
            width: 80%;
            rotate: 6deg;
        }

        & .book__bottom {
            position: absolute;
            inset: auto auto 20% 15%;
            width: 50%;
            rotate: -0.5deg;
        }

        & .book__top {
            position: absolute;
            inset: 10% 20% auto auto;
            width: 50%;
            rotate: 12deg;
        }

        & .folder__top {
            position: absolute;
            inset: auto 5% 10% auto;
            width: 80%;
            rotate: -6deg;
            filter: url(#filter);
        }
    }
</style>
