---
import Head from "../components/Head.astro";
import "../styles/app.css";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en-GB">
    <Head title={title} description={description} />
    <body>
        <slot />
        <footer>
            <p>©{new Date().getFullYear()} Felix Bahr</p>
            <a href="/imprint">Imprint</a>
        </footer>
    </body>
</html>

<style>
    body {
        padding: 10px;
        padding-top: calc(env(safe-area-inset-top, 0) + 10px);
        padding-bottom: calc(env(safe-area-inset-bottom, 0) + 10px);

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: center;
        gap: 24px;
    }

    footer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 8px;

        & > p,
        & > a {
            margin: 0;
            font-size: 12px;
            text-transform: uppercase;
            color: var(--fg);
        }

        & > p::after {
            content: "|";
            margin-left: 8px;

            font: inherit;
            color: var(--fg);
        }
    }
</style>
