---
import "../styles/app.css";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en">
    <Head />
    <body>
        <slot />
    </body>
</html>

<style>
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: center;
    }
</style>
