---
import Head from "../components/Head.astro";
import "../styles/app.css";
---

<!doctype html>
<html lang="en-GB">
    <Head />
    <body>
        <slot />
        <footer>
            <p>©{new Date().getFullYear()} Felix Bahr</p>
            <a href="/imprint">Imprint</a>
        </footer>
    </body>
</html>

<style>
    body {
        padding: 10px;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: center;
        gap: 24px;
    }

    footer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 8px;

        & > p,
        & > a {
            font-size: 12px;
            text-transform: uppercase;
            color: var(--fg);
        }

        & > p::after {
            content: "|";
            margin-left: 8px;

            font: inherit;
            color: var(--fg);
        }
    }
</style>
